<div class="my-container">
  <div class="mt-5">
    <span class="badge mb-3"
      style="background-color: <%= @course.course_category.bg_color %>;"><%= @course.course_category.name %></span>
    <h3 class="mb-3"><%= @course.title %></h3>
    <div class="text-slate-600"><%= simple_format(@course.description) %></div>
  </div>

  <div class="my-5 text-center">
    <%= render 'partial/course_order_button', course: @course, employee_order: @employee_order, student_order: @student_order %>
  </div>

  <div class="my-5 md:mx-12">
    <% if @course.thumbnail.representable? %>
    <%= image_tag @course.thumbnail.representation(resize_to_limit: [800, 800]), class: 'w-100' %>
    <% end %>
  </div>

  <table class="table-fixed my-5 w-100">
    <tbody>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course_attendance_type.name' %></th>
        <td class="table-td"><%= @course.course_attendance_type.name %></td>
      </tr>
      <tr>
        <th class="table-th">開催日時</th>
        <td class="table-td">
          <%= l @course.event_date, format: :ymd %>
          <% if @course.event_start_time.present? %>
          <%= l @course.event_start_time, format: :hm %>~
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.deadline' %></th>
        <% if @course.deadline.present? %>
        <td class="table-td"><%= l @course.deadline, format: :ymd %></td>
        <% else %>
        <td class="table-td">－</td>
        <% end %>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.place' %></th>
        <% if @course.place.present? %>
        　<td class="table-td"><%= @course.place %></td>
        <% else %>
        　<td class="table-td">－</td>
        <% end %>
      </tr>
      <tr>
      　<th class="table-th"><%= t 'activerecord.attributes.course.target' %></th>
        <% if @course.target.present? %>
         <td class="table-td"><%= @course.target %></td>
        <% else %>
        　<td class="table-td">－</td>
        <% end %>
      </tr>
      <tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.acceptable_number' %></th>
        <% if @course.acceptable_number.present? %>
         <td class="table-td"><%= @course.acceptable_number %></td>
        <% else %>
         　<td class="table-td">－</td>
        <% end %>
      </tr>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.others' %></th>
        <td class="table-td"><%= Rinku.auto_link(simple_format(@course.others), :urls, 'target="_blank"').html_safe %>
        </td>
      </tr>
      <% if current_student || current_employee || current_admin_user %>
      <tr>
        <th class="table-th"><%= t 'activerecord.attributes.course.announcement' %></th>
        <td class="table-td">
          <%= Rinku.auto_link(simple_format(@course.announcement), :urls, 'target="_blank"').html_safe %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="my-5 text-center">
    <%= render 'partial/course_order_button', course: @course, employee_order: @employee_order, student_order: @student_order %>
  </div>

  <i class="bi bi-chevron-left"></i><%= link_to "戻る", :back, class: 'link-primary-with-underline' %>
</div>
